/*--------------------------
Google Fonts
--------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');



/*--------------------------
My Styles
--------------------------*/
html, body {
	height: 100vh;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: #dff9fb;
	color: #30336b;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-weight: 600;
	font-size: 2em;
	margin: 15px 0;
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	width: 90%;
}

.button-container {
	display: block;
	margin: 0 auto;
}

#output {
	display: block;
	font-size: 1.5em;
	margin: 0 auto;
	text-align: center;
}

.highlightedBad {
	color: #c0392b;
}

.highlightedGood {
	color: #27ae60;
}

.focus {
	border-color: #9b59b6;
	border-width: 3px;
}

/*.button-form {
	margin:0 auto;
	width: 350px;
	padding: 15px 0;
	font-size: 1.5em;
}
*/
/*#txtRadius, #txtHeight {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: .8em;
}

input[type=button] {
	background-color: #9b59b6;
	border: none;
	border-radius: 5px;
	color: #ecf0f1;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin: 5px 25px;
	padding: 5px 5px 3px 5px;
}

input[type=reset] {
	background-color: #9b59b6;
	border: none;
	border-radius: 5px;
	color: #ecf0f1;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin: 5px -10px;
	padding: 5px 5px 3px 5px;
}

input[type=button]:hover, input[type=reset]:hover {
	background-color: #8e44ad;
	transition:0.2s;
}*/



/*--------------------------
CSS Cylinder
--------------------------*/
.cylinder {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 4.5%;
  margin: 0 auto;
  height: 700px;
  width: 600px;
  background: none;
}

.cylinder-body {
  position: absolute;
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
  background: #27ae60;
}

.cylinder-body-copy {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #27ae60;
  border: 2px solid #3d3d3d;
}

.cylinder-top {
  position: absolute;
  margin-top: -18%;
  height: 30%;
  width: 100%;
  border-radius: 50%;
  background: #27ae60;
  border: 2px solid #3d3d3d;
}

.dashed-line-top {
  position: absolute;
  top: 49.5%;
  left: 1.5%;
  height: 1%;
  width: 98%;
  background: none;
  border-top: 10px dashed #3d3d3d;
}

.line-top {
  position: absolute;
  top: 51%;
  left: 1.35%;
  height: 7%;
  width: 98%;
  background: #27ae60;
}

.radius-dot {
  position: absolute;
  top: 45%;
  left: 48.5%;
  height: 15px;
  width: 15px;
  background: #3d3d3d;
  border-radius: 50%;
}

.cylinder-bottom {
  position: absolute;
  margin-top: 99%;
  height: 30%;
  width: 100%;
  border-radius: 50%;
  background: #27ae60;
  border: 2px solid #3d3d3d;
}

.radius-measure {
  position: absolute;
  top: -13%;
  left: 50%;
  height: 8%;
  width: 50%;
  border-right: 3px solid #3d3d3d;
  border-left: 3px solid #3d3d3d;
}

.radius-left {
  position: absolute;
  top: 50%; 
  height: 100%;
  width: 30%;
  border-top: 3px solid #3d3d3d;
}

.radius-right {
  position: absolute;
  left: 70%;
  top: 50%; 
  height: 100%;
  width: 30%;
  border-top: 3px solid #3d3d3d;
}

.radius-input {
  position: absolute;
  top: 20%;
  left: 35%;
  height: 60%;
  width: 30%;
}

.height-measure {
  position: absolute;
  right: -15%;
  height: 100%;
  width: 8%;
  border-top: 3px solid #3d3d3d;
  border-bottom: 3px solid #3d3d3d;
}

.height-top {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 42%;
  width: 50%;
  border-left: 3px solid #3d3d3d;
}

.height-bottom {
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 42%;
  width: 50%;
  border-left: 3px solid #3d3d3d;
}

.height-input {
  position: absolute;
  top: 47.5%;
  left: -35%;
  height: 5%;
  width: 170%;
}