/*--------------------------
Google Fonts
--------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');



/*--------------------------
My Styles
--------------------------*/
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	min-height: 100%;
	width: 100%;
}

body {
	background-color: #dff9fb;
	color: #3d3d3d;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-weight: 600;
	font-size: 1.7em;
	margin-top: 10px;
	text-align: center;
}

header p {
  font-size: 0.93em;
  margin-top: 10px;
  text-align: center;
}

footer {
  bottom: 0;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	margin: 0 auto;
  min-height: 100vh;
	width: 90%;
}

.wrapper section {
  flex: 1;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

button {
	margin: 0 10px;
}

#btnCalcVol {
  background-color: #8854d0;
  border: none;
  border-radius: 5px;
  color: #dff9fb;
  font-size: 1em;
  padding: 10px;
  text-align: center;
}

#btnCalcVol:hover {
  background-color: #a55eea;
  cursor: pointer;
  transition: 0.2s ease;
}

#btnReset {
  background: #dff9fb;
  border: 5px solid #8854d0;
  border-radius: 5px;
  color: #8854d0;
  font-size: 1em;
  padding: 5px;
  text-align: center;
}

#btnReset:hover {
  border: 5px solid #fc5c65;
  color: #fc5c65;
  cursor: pointer;
  transition: 0.2s ease;
}

#output {
	font-size: 1.1em;
  margin-top: 10px;
	text-align: center;
}

.highlightedBad {
	color: #fc5c65;
  font-weight: 500;
}

.highlightedGood {
	color: #3d3d3d;
  font-weight: 500;
}

.focus {
	border-color: #9b59b6;
	border-width: 3px;
}

/*input[type=button] {
	background-color: #9b59b6;
	border: none;
	border-radius: 5px;
	color: #ecf0f1;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin: 5px 25px;
	padding: 5px 5px 3px 5px;
}

input[type=reset] {
	background-color: #9b59b6;
	border: none;
	border-radius: 5px;
	color: #ecf0f1;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin: 5px -10px;
	padding: 5px 5px 3px 5px;
}

input[type=button]:hover, input[type=reset]:hover {
	background-color: #8e44ad;
	transition:0.2s;
}*/



/*--------------------------
CSS Cylinder
--------------------------*/
.box {
  position: relative;
  margin: auto;
  height: 450px;
  width: 350px;
  background: none;
}

.cylinder-body {
  position: absolute;
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
  background: #26de81;
}

.cylinder-body-copy {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #26de81;
  border: 2px solid #3d3d3d;
}

.cylinder-top {
  position: absolute;
  top: -15%;
  height: 30%;
  width: 100%;
  border-radius: 50%;
  background: #26de81;
  border: 2px solid #3d3d3d;
}

.dashed-line-top {
  position: absolute;
  top: 49.5%;
  left: 1.5%;
  height: 1%;
  width: 97%;
  background: none;
  border-top: 10px dashed #3d3d3d;
}

.line-top {
  position: absolute;
  top: 53%;
  left: 1.35%;
  height: 7%;
  width: 98%;
  background: #26de81;
}

.radius-dot {
  position: absolute;
  top: 43%;
  left: 48.5%;
  height: 15px;
  width: 15px;
  background: #3d3d3d;
  border-radius: 50%;
}

.cylinder-bottom {
  position: absolute;
  top: 85%;
  height: 30%;
  width: 100%;
  border-radius: 50%;
  background: #26de81;
  border: 2px solid #3d3d3d;
}

.radius-measure {
  position: absolute;
  top: -13%;
  left: 50%;
  height: 8%;
  width: 50%;
  border-right: 3px solid #3d3d3d;
  border-left: 3px solid #3d3d3d;
}

.radius-left {
  position: absolute;
  top: 50%; 
  height: 100%;
  width: 25%;
  border-top: 3px solid #3d3d3d;
}

.radius-right {
  position: absolute;
  left: 75%;
  top: 50%; 
  height: 100%;
  width: 25%;
  border-top: 3px solid #3d3d3d;
}

.radius-input {
  position: absolute;
  top: 5%;
  left: 30%;
  height: 90%;
  width: 40%;
}

.height-measure {
  position: absolute;
  right: -15%;
  height: 100%;
  width: 8%;
  border-top: 3px solid #3d3d3d;
  border-bottom: 3px solid #3d3d3d;
}

.height-top {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 42%;
  width: 50%;
  border-left: 3px solid #3d3d3d;
}

.height-bottom {
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 42%;
  width: 50%;
  border-left: 3px solid #3d3d3d;
}

.height-input {
  position: absolute;
  top: 46%;
  left: -35%;
  height: 8%;
  width: 260%;
}



/*--------------------------
Media Queries
--------------------------*/
@media screen and (min-width: 520px) {
  .box {
    height: 600px;
    width: 500px;
  }

  .dashed-line-top {
    top: 47%;
  }

  .line-top {
    top: 49%;
  }

  .radius-dot {
    top: 42%;
  }

}







